apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: moodle
  namespace: mogenius-argo-cd
  labels:
    managed-by: mogenius
spec:
  destination:
    name: in-cluster
    namespace: poki-dev
  syncPolicy:
    automated:
      prune: true
      enabled: true
      allowEmpty: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  project: mogenius
  source:
    repoURL: https://helm.mogenius.com/public
    targetRevision: 1.2.2
    chart: moac
    helm:
      releaseName: moodle
      valuesObject:
        ingresses:
          - ingress-deploy-lms-to-mogenius:
              labels:
                mo-app: deploy-lms-to-mogenius
              ingressClassName: traefik
              rules:
                - host: deploy-lms-to-mogenius-0b9xe4.78.138.64.12.nip.io
                  http:
                    paths:
                      - backend:
                          service:
                            name: deploy-lms-to-mogenius
                            port:
                              number: 80
                        path: /
                        pathType: Prefix
        rawResources:
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
                pv.kubernetes.io/bound-by-controller: 'yes'
                volume.beta.kubernetes.io/storage-provisioner: cinder.csi.openstack.org
                volume.kubernetes.io/selected-node: shoot--431053--learnteq-test-worker-l926i-z1-7bdb4-5sl5l
                volume.kubernetes.io/storage-provisioner: cinder.csi.openstack.org
              finalizers:
                - kubernetes.io/pvc-protection
              labels:
                app.kubernetes.io/component: primary
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
              name: data-moodle-mariadb-0
              namespace: poki-dev
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 8Gi
              storageClassName: default
              volumeMode: Filesystem
              volumeName: pv-shoot--431053--learnteq-test-a8a7ee18-f728-44ee-97c5-bfeab48a2971
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
                pv.kubernetes.io/bound-by-controller: 'yes'
                volume.beta.kubernetes.io/storage-provisioner: cinder.csi.openstack.org
                volume.kubernetes.io/selected-node: shoot--431053--learnteq-test-worker-l926i-z1-7bdb4-bw5lb
                volume.kubernetes.io/storage-provisioner: cinder.csi.openstack.org
              finalizers:
                - kubernetes.io/pvc-protection
              labels:
                app.kubernetes.io/component: primary
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
              name: data-mariadb-0
              namespace: poki-dev
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 8Gi
              storageClassName: default
              volumeMode: Filesystem
              volumeName: pv-shoot--431053--learnteq-test-a5774a81-8a52-4bd7-b7d0-fcef73cf0ae5
          - apiVersion: v1
            kind: PersistentVolumeClaim
            metadata:
              annotations:
                pv.kubernetes.io/bind-completed: 'yes'
                pv.kubernetes.io/bound-by-controller: 'yes'
                volume.beta.kubernetes.io/storage-provisioner: cinder.csi.openstack.org
                volume.kubernetes.io/selected-node: shoot--431053--learnteq-test-worker-l926i-z1-7bdb4-5sl5l
                volume.kubernetes.io/storage-provisioner: cinder.csi.openstack.org
              finalizers:
                - kubernetes.io/pvc-protection
              labels:
                app.kubernetes.io/name: moodle
                app.kubernetes.io/version: 5.0.2
              name: moodle-moodle
              namespace: poki-dev
            spec:
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 8Gi
              storageClassName: default
              volumeMode: Filesystem
              volumeName: pv-shoot--431053--learnteq-test-cd8487de-eda3-4305-bd1a-a737bccc1833
          - apiVersion: networking.k8s.io/v1
            kind: NetworkPolicy
            metadata:
              labels:
                app.kubernetes.io/name: moodle
                app.kubernetes.io/version: 5.0.2
              name: moodle
              namespace: poki-dev
            spec:
              ingress:
                - ports:
                    - port: 8080
                      protocol: TCP
                    - port: 8443
                      protocol: TCP
              podSelector:
                matchLabels:
                  app.kubernetes.io/instance: moodle
                  app.kubernetes.io/name: moodle
              policyTypes:
                - Ingress
                - Egress
          - apiVersion: networking.k8s.io/v1
            kind: NetworkPolicy
            metadata:
              labels:
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
                app.kubernetes.io/version: 12.0.2
              name: moodle-mariadb
              namespace: poki-dev
            spec:
              ingress:
                - ports:
                    - port: 3306
                      protocol: TCP
                    - port: 3306
                      protocol: TCP
              podSelector:
                matchLabels:
                  app.kubernetes.io/instance: moodle
                  app.kubernetes.io/managed-by: Helm
                  app.kubernetes.io/name: mariadb
                  app.kubernetes.io/version: 12.0.2
                  helm.sh/chart: mariadb-22.0.0
              policyTypes:
                - Ingress
                - Egress
          - apiVersion: policy/v1
            kind: PodDisruptionBudget
            metadata:
              labels:
                app.kubernetes.io/component: primary
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
                app.kubernetes.io/version: 12.0.2
              name: moodle-mariadb
              namespace: poki-dev
            spec:
              maxUnavailable: 1
              selector:
                matchLabels:
                  app.kubernetes.io/component: primary
                  app.kubernetes.io/instance: moodle
                  app.kubernetes.io/name: mariadb
          - apiVersion: policy/v1
            kind: PodDisruptionBudget
            metadata:
              labels:
                app.kubernetes.io/name: moodle
                app.kubernetes.io/version: 5.0.2
              name: moodle
              namespace: poki-dev
            spec:
              maxUnavailable: 1
              selector:
                matchLabels:
                  app.kubernetes.io/instance: moodle
                  app.kubernetes.io/name: moodle
          - apiVersion: apps/v1
            kind: Deployment
            metadata:
              annotations:
                gitBranch: main
                gitRepository: https://github.com/Termonello/lms-platform.git
                gitWorkflow: moodle-deployment.yaml
                previousReplicas: '1'
              name: deploy-lms-to-mogenius
              namespace: poki-dev
            spec:
              progressDeadlineSeconds: 600
              replicas: 0
              revisionHistoryLimit: 10
              selector:
                matchLabels:
                  app: deploy-lms-to-mogenius
              strategy:
                rollingUpdate:
                  maxSurge: 25%
                  maxUnavailable: 25%
                type: RollingUpdate
              template:
                metadata:
                  labels:
                    app: deploy-lms-to-mogenius
                spec:
                  containers:
                    - envFrom:
                        - secretRef:
                            name: moodle-config-values
                      image: lmsdevcr.azurecr.io/customlms/moodle:b30b69b
                      imagePullPolicy: Always
                      name: deploy-lms-to-mogenius
                      resources: {}
                      terminationMessagePath: /dev/termination-log
                      terminationMessagePolicy: File
                  dnsPolicy: ClusterFirst
                  imagePullSecrets:
                    - name: acr-pull-secret
                  restartPolicy: Always
                  schedulerName: default-scheduler
                  securityContext: {}
                  terminationGracePeriodSeconds: 30
          - apiVersion: v1
            automountServiceAccountToken: false
            kind: ServiceAccount
            metadata:
              annotations: {}
              labels:
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
                app.kubernetes.io/version: 12.0.2
              name: moodle-mariadb
              namespace: poki-dev
          - apiVersion: v1
            automountServiceAccountToken: false
            kind: ServiceAccount
            metadata:
              annotations: {}
              labels:
                app.kubernetes.io/name: moodle
                app.kubernetes.io/version: 5.0.2
              name: moodle
              namespace: poki-dev
        services:
          - moodle:
              annotations:
                loadbalancer.openstack.org/load-balancer-address: 78.138.66.188
                loadbalancer.openstack.org/load-balancer-id: a03dd41f-d102-4beb-b05d-17d73bff8f5c
              finalizers:
                - service.kubernetes.io/load-balancer-cleanup
              labels:
                app.kubernetes.io/name: moodle
                app.kubernetes.io/version: 5.0.2
              allocateLoadBalancerNodePorts: true
              clusterIP: 10.123.89.200
              clusterIPs:
                - 10.123.89.200
              externalTrafficPolicy: Cluster
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: http
                  nodePort: 30603
                  port: 80
                  protocol: TCP
                  targetPort: http
                - name: https
                  nodePort: 32553
                  port: 443
                  protocol: TCP
                  targetPort: https
              selector:
                app.kubernetes.io/instance: moodle
                app.kubernetes.io/name: moodle
              sessionAffinity: None
              type: LoadBalancer
          - moodle-lms:
              clusterIP: 10.118.226.220
              clusterIPs:
                - 10.118.226.220
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-moodle-lms
                  port: 80
                  protocol: TCP
                  targetPort: 80
              selector:
                app: moodle-lms
              sessionAffinity: None
              type: ClusterIP
          - moodle-mariadb-headless:
              labels:
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
                app.kubernetes.io/version: 12.0.2
              clusterIP: None
              clusterIPs:
                - None
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: mysql
                  port: 3306
                  protocol: TCP
                  targetPort: mysql
              publishNotReadyAddresses: true
              selector:
                app.kubernetes.io/instance: moodle
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
              sessionAffinity: None
              type: ClusterIP
          - my-container-image-aah7m4:
              clusterIP: 10.126.181.131
              clusterIPs:
                - 10.126.181.131
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-my-container-image-aah7m4
                  port: 80
                  protocol: TCP
                  targetPort: 80
              selector:
                app: my-container-image-aah7m4
              sessionAffinity: None
              type: ClusterIP
          - moodle-mariadb:
              labels:
                app.kubernetes.io/component: primary
                app.kubernetes.io/name: mariadb
                app.kubernetes.io/part-of: mariadb
                app.kubernetes.io/version: 12.0.2
              clusterIP: 10.113.171.215
              clusterIPs:
                - 10.113.171.215
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: mysql
                  port: 3306
                  protocol: TCP
                  targetPort: mysql
              selector:
                app.kubernetes.io/component: primary
                app.kubernetes.io/instance: moodle
                app.kubernetes.io/name: mariadb
              sessionAffinity: None
              type: ClusterIP
          - deploy-lms-to-mogenius:
              clusterIP: 10.115.216.184
              clusterIPs:
                - 10.115.216.184
              internalTrafficPolicy: Cluster
              ipFamilies:
                - IPv4
              ipFamilyPolicy: SingleStack
              ports:
                - name: 80-deploy-lms-to-mogenius
                  port: 80
                  protocol: TCP
                  targetPort: 80
              selector:
                app: deploy-lms-to-mogenius
              sessionAffinity: None
              type: ClusterIP
